body {
  background-color: pink;
}

#fullSection{
  margin: 50px auto 0;
  width: 600px;
}

#header{
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  position: relative;
}

#grid{
  align-content: center;
}

.gameColumn{
  float:left;
  display: inline-block;
  position: relative;
}

.emptySlot{
  /*margin: 2px auto 0;*/
  border-radius: 50%;
  background-color: aliceblue;
  height: 75px;
  width: 75px;
  text-align: center;
  line-height: 60px;
  border-size:2px;
  border-style:solid;
  border-color:black;
  cursor: pointer;
}

.slot{
  /*margin: 2px auto 0;*/
  border-radius: 50%;
  background-color: hotpink;
  height: 75px;
  width: 75px;
  border-size:2px;
  border-style:solid;
  border-color:black;
}

.yellowPuck{
  background-color: yellow;
}

.redPuck{
  background-color: red;
}
