.centerPiece{
  flex: flex;
  background-color: yellow;
  color: black;
  align-items: center;
  text-align: center;
}

body{
 /* background-image: url("http://i.imgur.com/9KJMp0I.jpg");*/
  background-repeat: no-repeat;
  align-items: center;
  background-size: cover;
  background-color: brown;
}

#bg{
  background-size: cover;
}
